<html ng-app="dueloLeyendasApp">
<head>

		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">

		<link rel="stylesheet" type="text/css" href="css/result.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
  		<script src="js/jquery.js"></script>
	    <script src="lib/angular.js"></script>
		<script src="lib/angular-ui-router.js"></script>
	    <script src="js/app.js"></script>
	    <script src="js/services/resultService.js"></script>
	    <script src="js/controllers/resultadoController.js"></script>
	    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

	<title>

	Resultado

	</title>
</head>
<body class="resultado imageBack" ng-controller = "ResultController" ng-style="getImagePath(informacionDelDuelo.resultadoDuelo.personajeGanador)">

<div class="resultado imageBack" ng-style="getImagePath(informacionDelDuelo.resultadoDuelo.path)">
	<div id="imagenVictoriosa" class="img-responsive imageBack resultado">
		<h1 class="noTienesRival titulo" style="color: white !important;">{{informacionDelDuelo.resultadoDuelo.personajeRetador}} vs {{informacionDelDuelo.resultadoDuelo.personajeRival}}</h1>

		<div class="row col-md-4 col-md-offset-7 col-xs-6 col-xs-offset-4 col-sm-4 col-sm-offset-7 resultado font-responsive">
			<!-- Primer bloque Superior Central -->
			<div class="panel panel-default resultado bloqueCentral" style="border-color: black;">
		  		<div class="panel-body resultado backOnPink">
		  			<span class="resultado labelFormatLarge"> {{informacionDelDuelo.resultadoDuelo.veredicto}} </span> <br>
		  			<span id="puntajeRetador" class="resultado labelFormatSmall"> {{informacionDelDuelo.resultadoDuelo.valorRetador}} a</span>
		  			<span id="puntajeRival" class="resultado labelFormatSmall"> {{informacionDelDuelo.resultadoDuelo.valorRival}} </span> <br>
		  			<span id="cartelVeredicto" class="resultado labelFormatSmall"> {{informacionDelDuelo.resultadoDuelo.mensaje}}: </span> <br>
		  			<span id="nombreGanador" class="resultado labelFormatSmall nombreDeJugador"> {{informacionDelDuelo.resultadoDuelo.nombreGanador}} </span>
		  		</div>
		  		<button id="opcionDelBoton" class="resultado btn fullSize"> {{informacionDelDuelo.resultadoDuelo.mensajeDelBoton}} </button>
			</div>

				<!--Comiento de los bloques inferiores-->
			<div class="row">

				<!-- Primer Bloque Inferior Izquierdo -->
				<div class="resultado bloqueInferior col-md-4 col-xs-4 col-sm-4">
					<div id="nombrePersonajeRetador" class="resultado panel panel-primary noMarginBot fullSize"> {{informacionDelDuelo.resultadoDuelo.personajeRetador}} </div>
					<div class="panel panel-default noBorder resultado statDesign">
						<div ng-repeat="(clave,valor) in informacionDelDuelo.informacionDelRival">
					    	<h7><span style="float:left" >{{clave}}: </span></h7> 
					    	<h7><span style="float:right" >{{valor}}</span></h7><br>
					   	</div>
					</div>
				</div>

				<!-- Segundo Bloque Inferior Derecho-->
				<div class="resultado bloqueInferior col-md-4 col-xs-4 col-sm-4">
					<div id="nombrePersonajeRetador" class="panel panel-primary noMarginBot fullSize resultado "> {{informacionDelDuelo.resultadoDuelo.personajeRival}} </div>
					<div class="panel panel-default noBorder resultado statDesign">
					  	<div ng-repeat="(clave,valor) in informacionDelDuelo.informacionDelRival">
					    	<h7><span style="float:left" >{{clave}}: </span></h7> 
					    	<h7><span style="float:right" >{{valor}}</span></h7><br>
					   	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>
