

.characterSelection{
  width: 100%;
  height: 100%;
}

.allImgContainer{
  height: 360px;
}
.margTop{
  margin-top: 30px;
}

#selectedCharacterlbl{
  margin-bottom: 10px;
  border-radius: 8px;
  background: -webkit-linear-gradient(orange, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(orange, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(orange,red);
}


button{
  width: 120px;
  height: 120px;
  padding: 0;
  border: none;
  background: none;
}

button:hover{
  width: auto;
  height: auto;
}

button:active{
  width: auto;
  height: auto;
  opacity: 0.4;
}

.grayBorder{
  border-color: gray;
  border-style: solid;
  border-radius: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 2px;
    width: 100%;
}
