
@media (max-width: 768px) {
.btn-responsive {
  padding:2px 4px;
  font-size:80%;
  line-height: 1;
  border-radius:3px;
}
}

@media (min-width: 769px) and (max-width: 992px) {
.btn-responsive {
  padding:0px;
  font-size:90%;
  line-height: 1.2;
}
}

.characterSelection{
  width: 100%;
  height: 100%;
}

.allImgContainer{
  height: 360px;
}
.margTop{
  margin-top: 30px;
}



#selectedCharacterlbl{
  margin-bottom: 10px;
  border-radius: 8px;
  background: -webkit-linear-gradient(#337AB7, darkblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#337AB7, darkblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#337AB7,darkblue);
}

.square {
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    overflow: hidden;
}

.btn{
  width: 100%;
}

.btn.characerSelect{
  padding: 0;
  border: none;
  background: none;
}

.btn.characerSelect:hover{
  opacity: 0.8;
}

.btn.characerSelect:active{
  opacity: 0.4;
}

.grayBorder{
  border-color: gray;
  border-style: solid;
  border-radius: 0px;
}

.sinPadding{
  padding: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 2px;
    width: 100%;
}
