
/**
 * Fuentes agregadas
 */
@font-face {
    font-family:PT Sans-Regular;
    src: url(fonts/PT_Sans-Web_Regular.ttf);
}

.bloqueCentral {
  padding-right: 0px;
  padding-left: 0px;
	text-align: center;
	margin-top: 15%;
	margin-bottom: 10%;
  border-radius: 0px;
}

.bloqueInferior {
  text-align: center;
  width: 50%;
  border-radius: 0px;
}

.labelFormatLarge {
  color: red;
	font-size: 26px;
	font-family: PT Sans-Regular;
}

.labelFormatSmall {
  font-size: 18px;
  font-family: PT Sans-Regular;
  font-weight: normal;
}

.labelFormatSmall.nombreDeJugador {
  color: green;
  font-size: 24px;
}

.backOnPink {
  background-color: #ffb6c1;
}

.buttonStyle {
  color: white;
  background-color: blue;
}

.noMarginBot {
  margin-bottom: 0px;
}

.font-responsive {
  font-size: 100%;
}

.noBorder {
  border-radius: 0px;
}

body {
  /* Aca se deberia bindear la imagen correspondiente al personaje elegido del ganador */
  background-image: url("images/Result/asheFullSize.jpg"); 
  background-size: 100%;
  height: auto;
}
