.center{
  text-align: center;
}

.fullSize{
  font-weight: bold;
  color: white;
  font-size: 16px;
  background-color: blue;
  width: 100%;
  border-radius: 0px;
}

.btn.fullSize:active{
  background-color: darkblue;
}

.blackBackgroundAndWhiteFonts{
  background-color: black;
  color:white;
}
