/.AnalizadorDeAtaque.java._trace
/.DAbusoDelSisDeDenuncias.java._trace
/.Denuncia.java._trace
/.MRX.java._trace
/.NoHayRivalException.java._trace
/.DAbusoDeHabilidad.java._trace
/.DAbusoDeLenguaje.java._trace
/.DFeedIntencional.java._trace
/.DenunciaFacade.java._trace
/.Duelo.java._trace
/.EstadisticasPj.java._trace
/.Jugador.java._trace
/.Personaje.java._trace
