<div class="noTienesRival fondo container fullHeightAndWidth"><!--Cuerpo comienzo-->

      <!--titulo comienzo-->
<div>
    <h1 class="noTienesRival titulo"> NO TIENES RIVAL</h1>
  </div><!--titulo fin-->


  <div class="fondo noTienesRival row"><!--row comienzo-->

    <div class="noTienesRival col-xs-6"><!--ContainerIzquierdo comienzo-->

      <div>

        <img class="noTienesRival imgNoTienesRival" src="css/images/NoHayRival/vs.jpg">

        </div>

    </div><!--ContainerIzquierdo fin-->

    <div class="noTienesRival col-xs-6"><!--containerDerecho comienzo-->

      <div class="noTienesRival containerDerecho"><!--Texto comienzo-->
        <div class="noTienesRival tamanhoContainerDerecho">
         <pre class="noTienesRival texto">NO HAY QUIEN SE TE ANIME EN TU RANKING ACTUAL.<br>Puedes optar por retar al bot del nivel y<br>tratar de avanzar de nivel en el ranking o<br>disfrutar de tu gloria y descansar ¿qué quieres<br>hacer?
               </pre>

            </div><!--Texto fin-->

          <div class="noTienesRival row"><!--Botones comienzo-->

            <div class="noTienesRival col-xs-6"><!--Boton Retar comienzo-->
                <button type="button" class="noTienesRival btn botonCuadrado btn-primary btn-lg" ng-click="jugarConRobot()" >Retar a MR-X</button>


            </div><!--Boton Retar fin-->

            <div class="col-xs-6"><!--Boton Descansar comienzo-->
                <button type="button" class="noTienesRival btn botonCuadrado btn-primary btn-lg" ng-click="irAlLobby()" >Descansar</button>

            </div><!--Boton Descansar fin -->


          </div><!--Botones fin -->


      </div><!--ContainerDerecho fin-->

    </div><!--ContainerDerecho fin-->




  </div><!--row fin-->



</div><!--cuerpo fin-->
